@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Orbitron;
    width: 100%;
    height: 100px;
}

header > h1 {
    padding-left: 20px;
}

header > nav > ul {
    display: flex;
    padding-right: 20px;
}

header > nav > ul > li{
    list-style-type: none;
    padding: 10px; 
    
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

header > nav {
    display: flex;
    flex-direction: column;
}

.navSubir{
   animation: navSobe 5s;
}

@keyframes navSobe {
    0% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: 30px;
    }
}

#contactos{
    width: 250px;
    font-size: 0.8rem;
    padding: 10px;
    display: none;
    align-self: center;
}

.aparecerSuave {
    animation: aparecerSuave 5s;
}

@keyframes aparecerSuave {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#contactos > a {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > a:hover {
    text-decoration: underline;
}

body {
    font-family: Orbitron;
    width: 100;
}

main {
    display: flex;
    flex-direction: column; 
}

.secBoasVindas {
    width: 100%;
    height: 500px;
    position: relative;
}

.bemVindo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px black;
    overflow: hidden;
    
}

.videoDoHeader{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
} 

.quadradosDeCima {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.quadrado1{
    width: 50px;
    height: 100px;
    align-self: flex-end;
    margin-right: 50px;
    animation: girar 2s linear infinite;
}

.quadrado2{
    width: 50px;
    height: 100px;
    align-self: center;
    margin-left: 50px;
    margin-top: 70px;
    animation: girar 2s linear infinite;
    
}

.quadrado3{
    width: 50px;
    height: 100px;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 20px;
    animation: girarContrario 2s linear infinite;
}

@keyframes girarContrario {
    0%{
        transform: rotate(360deg)
    }
    100%{
        transform: rotate(0deg);
    }
    
}

@keyframes girar {
    0% {
        transform: rotate(0);
        
    }


    100% {
        transform: rotate(360deg);
        
    }
}




/* .videoSobre{
    display: flex;
    height: 400px;
} */


.projectos{
    background-image: linear-gradient(45deg, lightgrey,rgb(199, 189, 171)30%);
    height: 900px;
    background-color: lightgrey;
    /* border: 1px solid black; */
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectosIframe{
    border-radius: 20px 20px;
    width: 700px;
    height: 600px;
    margin-top: 50px;
}

#frame {
    border-radius: 20px 20px;
    width: 100%;
    height: 100%;
}

.secSkills{
    display: flex;
}

.hardSkills {
    height: 400px;
    width: 50%;
    background-image: linear-gradient(160deg, lightgrey,rgb(199, 189, 171)40%);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hardSkills > h2 {
    text-align: center;
    margin-top: 30px;
}

.linguagens{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 100px;
    margin-bottom: 50px;
    max-width: 400px;
}

.hardSkills > p {
    text-align: center;
}

.loading {
    border: 5px solid black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    animation: loading 2s ease-in-out infinite;
    border-top-color: azure;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

.softSkills {
    height: 400px;
    width: 50%;
    background-image: linear-gradient(320deg, lightgrey,rgb(199, 189, 171)30%);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.softSkills > h2 {
    margin-top: 30px;
}

.softSkills > p {
    max-width: 400px;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
}
